{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Find an Installer - EV Home Charge</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="{% static 'website/assets/img/apple-touch-icon' %}" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/assets/img//favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/assets/img//favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'website/assets/img/site.webmanifest'%}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="home.html"><span>EV Home</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="home.html">Home</a></li>
          <li><a href="signin.html">Sign In</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="findaninstaller.html">Find an Installer</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="calendar.html">Calendar</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Find A Charger Point Installer</h2>
          <ol>
            <li><a href="home.html">Home</a></li>
            <li>Charge Point Installers</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <p>In terms of cost, the price of installing an EVSE in Ireland can vary depending on the type of equipment and the complexity of the installation. The Sustainable Energy Authority of Ireland (SEAI) offers a grant for home EV charging stations, which can cover up to 75% of the cost of the equipment and installation, up to a maximum of €600.
              </p>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
            <div class="portfolio-item">
              <img src="{% static 'website/assets/img/portfolio/smart2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>Electric Ireland</h3>
                <div>
                  <a href="{% static 'website/assets/img/portfolio/smart2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Electric Ireland"><i class="bx bx-plus"></i></a>
                  <a href="https://www.electricireland.ie/residential/products/ev-home-chargers" title="Electric Ireland Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
            <div class="portfolio-item">
              <img src="{% static 'website/assets/img/portfolio/car-lady.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>EV Charging Stations</h3>
                <div>
                  <a href="{% static 'website/assets/img/portfolio/car-lady.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="EV Charging Stations"><i class="bx bx-plus"></i></a>
                  <a href="https://evchargingstations.ie/installations/" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
            <div class="portfolio-item">
              <img src="{% static 'website/assets/img/portfolio/seai.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3>SEAI Grants and Installers</h3>
                <div>
                  <a href="{% static 'website/assets/img/portfolio/seai.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="EV Installer"><i class="bx bx-plus"></i></a>
                  <a href="https://www.seai.ie/grants/electric-vehicle-grants/electric-vehicle-charging/" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Add your email address to receive our monthly newsletter</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="home.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">About EV Charging</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="register.html">Register / Sign In</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Find A Charger in Your Area</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Offer Your Charging Point</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="findaninstaller.html">Find A Charger Installer</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              TU Dublin <br>
              Grangegorman, Dublin<br>
              Ireland <br><br>
              <strong>Phone:</strong> +1 2345678<br>
              <strong>Email:</strong> info@evhomecharge.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About EV Home Charge</h3>
            <p>Charging an electric vehicle at a home charge point in Ireland is a convenient and cost-effective way to keep your EV charged and ready to go. You can enjoy the benefits of electric driving without the hassle of finding a public charging station.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>EV Home Charge</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'website/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'website/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/assets/js/main.js' %}"></script>

</body>

</html>